<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:minimum-level" value="Information" /><!--Information Debug-->
	<add key="serilog:write-to:File.path" value="logs/.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="10485760" />
    <add key="assert:csv:httpCodes" value="200,201" />
  </appSettings>
</configuration>
